body {
    background-color: #FFB5C3;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

.product-card {
    background-color: #ffd6dd;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .20);
    max-width: 400px;
    justify-items: center;
    justify-content: center;
}

.product-detail {
    display: flex;
    flex-direction: column;
    background-color: #ffd6dd;
    padding: 10px;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .20);
    border: 2px solid black;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#addToCart {
    background-color: #9966cc;
    color: white;
    font-family: "Comfortaa", cursive;
    font-size: 1rem;
    padding: 5px;
    border: 2px solid #5c2b8e;
    border-radius: 12px;
}

#addToCart hover {
    background-color: #8e4585
}